@import "tailwindcss";

:root {
  --pure-primary: #3e91ff;
  --pure-secondary: #ff762e;
  --pure-dark: #121025;
  --pure-light-dark: #1a192c;
}

body {
  color: white;
  background: var(--pure-dark);
}

@layer components {
  .pure-container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
  
  .btn-primary {
    @apply bg-pure-primary text-white px-4 py-2 rounded-md hover:bg-opacity-80 transition-all;
  }
  
  .btn-secondary {
    @apply bg-pure-secondary text-white px-4 py-2 rounded-md hover:bg-opacity-80 transition-all;
  }
  
  .card {
    @apply bg-pure-light-dark rounded-lg p-6 shadow-lg;
  }
}